body {
    background-color:gray;
}

.nav-bar{
    background-color:blue;
    box-shadow:none;
}

.brand-logo{
    margin-left: 5px;
    width:max-content;
}

.main-header {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand img {
    height: 60px;
    margin-right: 16px;
}


.brand a {
    color : black;
    text-decoration: none;
    font-size: x-large;
}

.cart{
margin-left: 10px;
}

.material-icons{
    line-height:inherit;
    font-size: 30px;
}


.right{
    margin-right: 10px;
}

.contador{
    display:flex !important;
    align-items: center !important;
    margin-right: 10px;
    justify-content: center;
}

.cardItem{
    margin: 25px;
    background-color: blanchedalmond;
    width: 300px;
}

.item{
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: cadetblue;
    color : white;
    text-decoration: none;
    justify-content:left;
}

.item p{
    margin: 1%;
}

.item img {
    height: 50px;
    margin-right: 16px;
}

.itemCount{
    color: white;
}
.buttonCounter{
   margin-inline: 4px;
}

